.landing-page {
    height: 100vh;
    background-image: url('/img/bgpolos.svg');
}

.landing-page .left-side {
    width: 45%;
}

.landing-page .right-side {
    width: 50%;
}

.landing-page .right-side img {
    width: 500px;
}

img.position-absolute {
    width: 500px;
}

.card:hover {
    transform: scale(1.02);
    transition: .3s;
}

.button .btn-warning {
    background-color: var(--yellow);
}

.button .btn-warning:hover,
.btn-warning:focus {
    background-color: var(--yellow) !important;
    filter: brightness(1.1);
    transition: .3s;
}


.sticky-top {
    height: 25vh;
    top: 5rem;
}

@media screen and (max-width: 992px) {
    .two .row {
        flex-direction: column-reverse;
    }

    .sticky-top {
        text-align: center;
        position: static !important;
        height: 100%;
        width: 100%;
        margin-bottom: 1.5rem;
        padding: 0 !important;
    }

}

@media screen and (max-width: 768px) {
    .landing-page .right-side img {
        width: 300px;
    }

    img.position-absolute {
        width: 300px;
    }
}

@media screen and (max-width: 576px) {
    .landing-page .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .landing-page .right-side img {
        width: 200px;
    }

    .landing-page .left-side {
        width: 100%;
        margin-top: 2rem;
        text-align: center;
    }

    .landing-page .right-side {
        width: 100%;
    }

    .button {
        flex-direction: column;
        align-items: center;
    }

    .button .btn-warning {
        margin-left: 0 !important;
        margin-top: 10px;
        width: 80vw;
    }

    .news-content {
        width: 65%;
        font-size: .7rem;
    }

    .news-content h4 {
        font-size: 1rem;
    }

    .news-image.col-md-4 {
        width: 35%;
    }

}
